@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(36, 100%, 99%);
   
    font-family: 'Inter', sans-serif;
    position: relative;
}

nav {
   
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}



@media screen and (max-width: 640px){
    .nav-list {
        display: none;
    }
}


.nav-left > svg {
  object-fit: fill;
}

.nav-right > button {
    border: none;
    cursor: pointer;
}

.banner-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-pic > img {
    height: 300px;
    width: 90%;
    margin-left: 10px;
    object-fit: cover;
}

main {
  
    margin-left: 25px;
    margin-right: 25px;

    max-height: 844px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 800;
}

.first-article {
    line-height: 30px;
    font-size: 15px;
    color:  hsl(236, 13%, 42%);
}

.first-article > p {
    margin-bottom: 30px;
}

.first-article > button {
    background-color: hsl(5, 85%, 63%);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border: none;
    width:200px;
}

/**  TOPICS SECTION  **/

.topics {
    background-color: rgb(2, 2, 51);
    color: white;
  
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}

.topics > h2 {
    color: hsl(35, 77%, 62%);
    padding: 20px;
    font-weight: 800;
}


.topics > article {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.topics > article:last-child{
    border: none;
}

.topics-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
   
}

.topics-summary {
    height: 100%;
    min-height: 100px;
    line-height: 2;
    color:  hsl(233, 8%, 79%);
    
}

/*   TOP THREE ARTICLES SECTION   */

.top-three-articles {
    height: 100%;
}

.top-three-articles > article {
    display: flex;
}

.article-content > h2 {
    color:  hsl(233, 8%, 79%);
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 20px;
}

.article-content > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}
.article-content > p {
    color: hsl(236, 13%, 42%);
    line-height: 2;
}

.image {
    margin: 20px;
}

.image > img {
    width: 125px;
    height: 175px;
}

.menu-popup {
    position: absolute;
    height: 100vh;
    width: 300px;
    left: 35%;
    top: 0;
    background-color: hsl(36, 100%, 99%);
    display: flex;
    flex-direction: column;
}

.menu-popup > ul {
    list-style: none;
    margin-top: 50px;
}
.menu-popup > ul > li {
    margin: 20px;
    font-weight: 500;
}

.menu-popup > button {
    border: none;
    background-color: hsl(36, 100%, 99%);
    font-size: 50px;
    margin-left: 100px;
}

.not-active {
    display: none;
}

/* CSS FOR DESKTOP SCREEN*/
@media screen and (min-width: 640px)  {

    body {
        background-color: hsl(36, 100%, 99%);
    }
    #menu-button{
        display: none;
    }
    .nav-list > ul {
        display: flex;
        list-style: none;
    }

    .nav-list > ul > li {
        margin: .5rem;
        color: hsl(236, 13%, 42%);
    }

    .banner-pic {
        width: 70%;
    }

    main {
        display: flex;
    }

    main > h1 {

        width: 30%;
        height: 15rem;
        margin-top: 2rem;
        
    }

    .first-article {
        width: 30%;
        height: 19rem;
        margin-top: 2rem;
        margin-left: 2rem;
        line-height: 1.75;
       
    }

    .first-article > button {
        margin-top: 3rem;
    }
    .topics {
        width: 30%;
        position: absolute;
        top: 4.3rem;
        right: 0;
        height:70%;

    }

    .topics-title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    
    .topics > article {
      height: 10rem;
      padding: 1rem;
      margin: 0;
 

    }

    .topics > article > h3 {
        font-size: .8rem;
    }
    .topics > article > p {

        font-size: .7rem;
        padding: 0;
        height: 50px;
        margin-bottom: 0;
    }
    .top-three-articles {
        display: flex;
        justify-content: space-around;
    }

    .image > img {
        width: 100px;
        height: 100px;
    }

    .article-content {
        width: 10rem;
        height: 8rem;
    }

    .article-content > h2 {
        font-size: 20px;
    }
    .article-content > h3 {
        font-size: 12px;
    }

    .article-content> p {
        font-size: 10px;
        letter-spacing: .5;
    }
    
  
}
